@media (max-width: 1400px) {
  .nav-item {
    padding: 0 25px;
  }
}
@media (max-width: 1200px) {
  .nav-item {
    padding: 0 15px;
  }
  .carousel {
    margin: 50px 100px;
  }
}
@media (max-width: 991px) {
  .carousel {
    margin: 50px 0;
  }
}
