/* font-family: 'El Messiri', sans-serif; 400, 600
font-family: 'Open Sans', sans-serif; 400,700*/

:root {
  --bg-color: #b6cdbd;
  --text-color: #222831;
  --main-text-font: "El Messiri", sans-serif;
  --secondary-text-font: "Open Sans", sans-serif;
}
body {
  font-family: var(--main-text-font);
}
.background {
  background-color: var(--bg-color);
}
.shipping-descr {
  font-family: var(--secondary-text-font);
  font-size: 18px;
  text-align: center;
  padding: 14px 0;
}
.navbar-collapse {
  display: flex;
  justify-content: space-around;
  font-family: var(--secondary-text-font);
  font-size: 16px;
}
.nav-item {
  padding: 0 35px;
}
.nav-link {
  color: var(--text-color);
}
.nav-link:hover {
  opacity: 0.8;
}

form .btn {
  border-color: var(--bg-color);
  transition: all 250ms ease-in-out;
}
form .btn:hover {
  background-color: var(--bg-color);
}
.logo {
  text-align: center;
  margin-top: 50px;
}
.carousel {
  margin: 50px 150px;
}
.hero-first-title {
  display: flex;
  position: relative;
  top: -480px;
  left: 650px;
}
.carousel-item {
  position: relative;
}
.hero-btn {
  position: absolute;
  top: 60%;
  left: 70%;

  border-radius: 20px;
  font-family: var(--secondary-text-font);
  font-weight: 700;
  font-size: 28px;
  color: var(--text-color);
  background-color: rgba(355, 355, 355, 0.4);
  opacity: 0.8;
  padding: 18px 38px;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 3px #393a3d;
  transition: all 250ms ease-in-out;
}
.hero-btn:hover {
  background-color: rgba(355, 355, 355, 0.7);
  
}
