/* font-family: 'El Messiri', sans-serif; 400, 600
font-family: 'Open Sans', sans-serif; 400,700*/

:root {
  --bg-color: #b6cdbd;
  --text-color: #222831;
  --main-text-font: "El Messiri", sans-serif;
  --secondary-text-font: "Open Sans", sans-serif;
}
body {
  font-family: var(--main-text-font);
  color: var(--text-color);
}
h1,
h2,
h3 {
  text-transform: capitalize;
}
.background {
  background-color: var(--bg-color);
}
.shipping-descr {
  font-family: var(--secondary-text-font);
  font-size: 18px;
  text-align: center;
  padding: 14px 0;
}
/* navbar */
.navbar-collapse {
  display: flex;
  justify-content: space-around;
  font-family: var(--secondary-text-font);
  font-size: 16px;
}
.nav-item {
  padding: 0 35px;
}
.nav-link {
  color: var(--text-color);
}
.nav-link:hover {
  opacity: 0.8;
}

form .btn {
  border-color: var(--bg-color);
  transition: all 250ms ease-in-out;
}
form .btn:hover {
  background-color: var(--bg-color);
}
/* logo */
.logo {
  text-align: center;
  margin-top: 50px;
}
/* hero section */
.carousel {
  margin: 50px 150px;
}
.hero-first-title {
  display: flex;
  position: relative;
  top: -480px;
  left: 650px;
}
.carousel-item {
  position: relative;
}
.hero-btn {
  position: absolute;
  top: 60%;
  left: 70%;

  border-radius: 20px;
  font-family: var(--secondary-text-font);
  font-weight: 700;
  font-size: 28px;
  color: var(--text-color);
  background-color: rgba(355, 355, 355, 0.4);
  opacity: 0.8;
  padding: 16px 38px;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 3px #393a3d;
  transition: all 250ms ease-in-out;
}
.hero-btn:hover {
  background-color: rgba(355, 355, 355, 0.7);
}

/* section-title */
.section-title {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  margin-top: 90px;
  margin-bottom: 70px;
}
.section-heading {
  padding: 10px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0;
}
.product-card {
  text-align: center;
}
.product-card a {
  text-decoration: none;
  color: var(--text-color);
}
.product-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5px;
  text-align: center;
}
.product-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}
